<div class="black-border">
    <a href="index.html">
        <!-- <img src="assets/img/black-border/logo.svg" class="logo img-responsive" alt=""> -->
        <img id="logoSrc" src="assets/img/black-border/logo.svg" class="logo img-responsive" alt="">
    </a>
    <img src="assets/img/black-border/poker-suits.svg" class="poker-suits img-responsive hidden-xs" alt="">
    <img src="assets/img/black-border/copyrights.svg" class="copyrights img-responsive hidden-xs" alt="">
</div>

<button class="btn-menu-1 minionPro menu-btn hidden-xs">
    <p>MENU</p>
</button>
<button class="btn-menu-2 serif menu-btn hidden-xs">
    <p class="menuText">選單</p>
</button>
<div class="menu-content faster serif">
    <h3 class="banner visible-xs">
        <span class="minionPro" style="font-size: 20px;">MENU</span>
        <span class="menuText" style="font-size: 15px">選單</span>
        <br>
    </h3>
    <div class="seperator">
        <div></div>
    </div>
    <a class="active" id="menuMeetGirls" href="../gamegirls/index.html#girls">認識女孩</a>
    <br>
    <a class="" id="menuNews" href="../gamegirls/news.html">最新消息</a>
    <br>
    <div class="menu-lang">
        <button class="lang-btn active">
            繁中
        </button>
        <button class="lang-btn">
            简中
        </button>
    </div>
</div>
<button type="button" class="btn-menu-mobile menu-btn visible-xs">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<script type="text/javascript">
$(".menu-btn, #menuMeetGirls, #menuNews, .lang-btn").click(function(){
    console.log('asdf')
    $('.menu-btn').toggleClass("active");
    if ($('.menu-btn').hasClass('active')) {
        $('.menu-content').fadeIn();
    } else {
        $('.menu-content').fadeOut();
    }
});

</script>