/* fix meetGirl.html scroll hidden */
#meetGirls {
    overflow: hidden !important;
}

@media (min-width: 768px) {
    /************************ Girl Top Section *****************************/
    .girl-main-content {
        height: calc( 100vh - 147px );
        /* background-image: url("../img/girl/婠妍.jpg"); */
        background-position: center top;
        background-repeat: no-repeat;
        background-size : cover;
        position: relative;
    }

    .girl-main-content > .girl-nav {
        position: absolute;
        margin-top: 16px;
        width: 100%;
    }
    .girl-nav .girl-btn {
        position: absolute;
        left: 19px;
        width: 256px;
        height: 96px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
        border-radius: 55px;
        padding: 3px;
    }
    .girl-nav .girl-btn .btn-content {
        position: relative;
        background-color: rgba(0, 0, 0, 0.88);
        border-radius: 55px;
        width: 250px;
        height: 90px;
        display: inline-flex;
    }
    .girl-main-content > .girl-nav .back {
        position: absolute;
        right: 31px;
        top: 15px;
        cursor: pointer;
    }

    .girl-nav .girl-btn .btn-content > img {
        flex: 1;
        padding: 10px;
    }

    .girl-nav .girl-btn .btn-content > .description {
    color: #d4a93f;
    flex: 2;
    }

    .girl-nav .girl-btn .btn-content > .description > .title {
        padding-top: 10px;
        font-size: 18px;
    }

    .girl-nav .girl-btn .btn-content > .description > .name {
        margin: 10px 0px;
        text-align: right;
        padding-right: 35px;
        font-size: 24px;
        font-weight: 700;
    }

    /************************ Girl Middle Section*****************************/
    .video-pic-section {
        position: absolute;
        bottom: 90px;
        width: 100%;
    }

    .video-pic-section > .video {
        position: relative;
        margin-left: 19px;
        width: 336px;
        height: auto;
        padding: 25px 18px 0 18px;
        color: #d4a93f;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .video-pic-section > .video > .title {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 7px;
        font-weight: 700;
        padding: 0 5px;
        text-align: center;
    }
    .video-pic-section > .video > .subtitle {
        font-size: 15px;
        margin-bottom: 17px;
    }

    .video-pic-section .separate-line {
        height: 1px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
        width: 49px;
        margin-bottom: 15px;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
    }

    .video-pic-section > .video .page-num {
        margin-top: 10px;
        text-align: center;
    }

    .video-pic-section > .pic-slider {
        position: absolute;
        right: 23px;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #d4a93f;
        padding: 8px;
        width: 374px;
        height: 169px;
    }

    .video-pic-section > .pic-slider .title {
        margin-bottom: 10px;    
        font-size: 20px;
        font-weight: 700 !important;
    }

    .video-pic-section > .pic-slider .love {
        display: inline-block;
        background-size: 120% 130%;
        background-position: center top;
        background-repeat: no-repeat;
        width: 18px;
        height: 19px;
    }

    .video-pic-section .slider {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
    }

    .video-pic-section .slider img{
        padding: 4px;
        cursor: pointer;
    }
    /* dealing with carousel */
    .carousel {
        padding: 10px 0;
        display: inline-flex;
        margin-left: -10px;
        margin-right: -10px;
    }
    .carousel > .carousel-control-left {
        padding-right: 15px;
        padding-left: 12px;
    }
    .carousel > .carousel-control-left > img {
        position: relative;
        top: 28%;
        transform: scale(-1, -1) translateY(50%);
        width: 10px;
    }
    .carousel > .carousel-control-right {
        padding-right: 12px;
        padding-left: 15px;
    }
    .carousel > .carousel-control-right > img {
        position: relative;
        top: 28%;
        transform: translateY(-50%);
        width: 10px;
    }
    .play-icon {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        text-align: center;
    }
    .play-icon > img {
        width: 75%;
    }
    /* change slick css */
    .slick-next:before {
        content: none;
    }

    .slick-prev:before {
        content: none;
    }
    .pic-slider .pagingInfo {
        text-align: center;
        margin-top: 10px;
    }
    .pic-left-btn {
        transform: scale(-1 ,-1) translateY(25%);
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0 !important;
    }
    .slick-list {
        height: auto !important;
    }
    .slider > .responsive > .slick-list > .slick-track > .slick-slide {
        height: 70px !important;
        overflow: hidden;
    }

    /************************ Girl Footer Section*****************************/
    .girl-footer-info {
        position: absolute;
        bottom: 0px;
        width: auto;
        height: 73px;
        display: inline-flex;
        letter-spacing: 1.2px;
    }

    .girl-footer-info > .info {
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
        color: #d4a93f;
        padding: 15px 13px 10px 15px;
        width: 140px;
        white-space: nowrap;
        /* border: 1px solid .video-pic-section > .pic-slider
        rgba(0, 0, 0, 0.85); */
        margin-right: 1px;
        /* text-align: center; */
    }
    .girl-footer-info > .info:nth-child(3){
        width: 191px;
    }
    .girl-footer-info > .info:nth-child(4){
        width: 121px;
    }
    .girl-footer-info > .info:nth-child(4) > .record {        
        font-size: 18px;
        font-style: normal;
    }
    .girl-footer-info .info .title {
        font-size: 15px;
        margin: 0;
        opacity: 0.5;
    }
    .girl-footer-info .info .record {
        text-align: right;
        font-size: 24px;
        font-style: italic;
        margin: 0; 
    }
    .girl-footer-message {
        position: absolute;
        left: 607px;
        bottom: 10px;
        width: 207px;
        height: 61px;
    }
    .girl-footer-message .message-btn {
        background-image: linear-gradient(4deg, #c23a1f, #c52821);
        /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.56); */
        color: #ffffff;
        text-align: center;
        cursor: pointer;
        height: 61px;
    }

    .girl-footer-message .message-btn > .title  {
        padding-top: 10px;
        letter-spacing: 0 !important;
        margin: 0 0 !important;
        font-weight: 700 !important;
        font-size: 14px !important;
    }

    .girl-footer-message .message-btn > .board {
        margin-top: 0px;
        /* margin-bottom: 5px; */
        font-weight: 700 !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        font-size: 15px !important;
    }

    .girl-footer-message .message-btn > .board .love {
        display: inline-block;
        margin-top: -4px;
        /* margin-bottom: 1px; */
        width: 22px;
    }
    /* message board */
    .message-board {
        overflow: hidden;
        position: absolute;
        width: 303px;
        height: 0px;
        left: 607px;
        bottom: 81px;
        background-color: #000000;
        padding: 0 20px;
        transition: height 0.4s;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .message-board.active {
        height: 430px;
        /* padding-top: 20px; */
        display: block;
    }
    .girl-footer-message > .separate { 
        display: none;
    }
    .message-content {
        height: 350px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        color: white;
        font-size: 14px;
    }
    #message-content {
        height: auto;
        width: 100%;
        
    }
    #message-content > .message {
        width: 245px;
        border-radius: 6px;
        background-image: linear-gradient(50deg, #bf4e1d, #c33120);
        padding: 11px 20px 1px 20px;
    }
    #message-content > .message > .floor {
        opacity: 0.5;
    }
    #message-content > .message > .text {
        margin-bottom: 5px;
    }
    #message-content > .message > .date {
        text-align: right;
        opacity: 0.5;
        margin-bottom: 5px !important;
    }
    #message-content > .reply {
        padding-top: 29px;
        display: inline-flex;
        width: 245px;
    }
    #message-content > .reply > p {
        padding-left: 17px;
    }
    .reply-girl-pic {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #message-content > .reply > img {
        width: 58px;
        height: 58px;
        border-radius: 50%;
    }
    #message-content > .reply > .text {
        padding-left: 17px;
        width: calc(100% - 58px);
    }
    #message-content > hr {
        border: 1px solid #4a4a4a;
    }
    .message-board > .send-message {
        padding-top: 30px;
        width: 100% !important;
        display: inline-flex;
    }
    .message-board > .send-message > input {
        width: 188px;
    }
    .message-board > .send-message > form > input::placeholder {
        opacity: 0.5;
    }
    .message-board > .send-message > .send-message-btn {
        width: 74px;
        height: 38x;
        border-radius: 4px;
        background-image: linear-gradient(6deg, #bb611b, #c52821);
        border: none;
        color: white;
        margin-left: 14px;
    }
    .send-message-mobile {
        display: none;
    }
    .send-message-mobile > form{
        display: none;
    }
    /* video player section */
    .video-player {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 3000;
        background-color: rgba(0, 0, 0, 0.87);
    }
    .video-player > .video-close{
        color: #d4a93f;
        position: absolute;
        top: 120px;
        right: 120px;
        font-size: 20px;
    }
    .video-player > .video-player-tag {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 883px;
        height: 60vh;
        border: none;
    }
    /* slick photo player */
    .photo-player {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 3000;
        background-color: rgba(0, 0, 0, 0.87);
    }
    .photo-player > .photo-close {
        color: #d4a93f;
        position: absolute;
        top: 120px;
        right: 120px;
        font-size: 20px;
        z-index: 4000;
    }
    .photo-player > .photo-slider {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 1440px;
        height: 90vh;
        overflow: hidden;
        display: inline-flex;
    }

    .photo-player > .photo-slider > .photo-left {
        position: relative;
        width: 10%;
        padding: 0 10px;
    }
    .photo-player > .photo-slider > .photo-left > img {
        position: relative;
        width: 100%;
        max-width: 30px;
        top: 50%;
        transform: scale(-1, -1);
    }
    .photo-player > .photo-slider > .photo-right{
        position: relative;
        width: 10%;
        padding: 0 10px;
    }
    .photo-player > .photo-slider > .photo-right > img {
        position: relative;
        width: 100%;
        top: 50%;
        max-width: 30px;
        float: right;
    }
    .photo-player > .photo-slider > .photo{
        position: relative;
        width: 80%;
        display: inline-flex;
    }

    .photo-player > .photo-slider > .photo > .photo-item {
        display: none;
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    .photo-player > .photo-slider > .photo > .photo-item > img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }

    /* .photo-player > .photo-slider > .responsive > div {
        width: 522px;
        left: 50%;
        transform: translateX(-50%);
    }
    .photo-player > .photo-slider > .responsive > div img {
        width: 100%;
    } */
    /* .photo-player > .photo-slider .slick-arrow {
        width: 38px;
        height: 58px;
    }
    .photo-player > .photo-slider .slick-arrow > img {
        width: 100%;
    } */
}

@media (min-width: 768px) and (max-width: 949px) {
    .video-pic-section > .pic-slider {
        width: 300px !important;
        height: 160px !important;
        right: 5px !important;
    }
    .video {
        width: 47% !important;
        height: auto !important;
    }
    /* .video-pic-section > .pic-slider .title {
        margin: 0 !important;
    } */
    .girl-footer-message {
        left: unset;
        right: 10px;
    }
    .message-board {
        left: unset !important;
        right: 10px !important;
    }
    .girl-footer-info {
        width: calc(100vw - 350px);
    }
    .girl-footer-info .info .record {
        font-size: 20px !important;
    }
    .girl-footer-info > .info {
        width: 20% !important;
    }
    .girl-footer-info > .info:nth-child(3) {
        width: 35% !important;
    }
    .girl-footer-info > .info:nth-child(4) {
        width: 25% !important;
    }
}
@media (min-width: 950px) and (max-width: 1023px) {
    /* .video-pic-section > .pic-slider {
        width: 330px;
    } */
    .message-board {
        left: unset !important;
        right: 10px !important;
    }
}
@media (min-width: 1024px) {
    /* .video-pic-section > .pic-slider {
        width: 425px;
    } */
}
@media (min-width: 768px) and (max-width: 1299px) {
    .video-player > .video-close{
        top: 60px;
        right: 60px;
    }
}
@media (max-width: 767px) {
    /************************ Girl Top Section *****************************/
    .girl-main-content {
        position: fixed;
        z-index: 100;
        height: calc(100vh - 60px);
        width: 100%;
        /* background-image: url("../img/girl/婠妍.jpg"); */
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100% auto;
        overflow-y: scroll;
    }

    .girl-main-content > .girl-nav {
        position: relative;
        padding-top: 284px;
        width: 100%;
        height: 381px;
    }
    .girl-nav .girl-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 232px;
        height: 60px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
        border-radius: 55px;
        padding: 3px;
    }
    .girl-nav .girl-btn .btn-content {
        position: relative;
        background-color: rgba(0, 0, 0, 0.88);
        border-radius: 55px;
        width: 226px;
        height: 54px;
        display: inline-flex;
        padding: 5px;
    }
    .girl-main-content > .girl-nav .back {
        display: none
    }
    .girl-nav .girl-btn .btn-content > img {
        position: relative;
        width: 45px;
        height: 45px;
    }
    .girl-nav .girl-btn .btn-content > .description {
        color: #d4a93f;
        display: inline-flex;
        padding-left: 10px;
        width: 152px;
    }

    .girl-nav .girl-btn .btn-content > .description > .title {
        font-size: 14px;
    }

    .girl-nav .girl-btn .btn-content > .description > .name {
        position: absolute;
        font-size: 20px;
        right: 18px;
        bottom: 9px;
        margin: 0 !important;
    }

    /************************ Girl Middle Section*****************************/
    .video-pic-section {
        position: relative; 
        width: 280px;
        left: 50%;
        transform: translateX(-50%);
    }

    .video-pic-section > .video {
        position: relative;
        color: #d4a93f;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 17px 10px 0 10px;
        line-height: 1.4;
        margin: 0 10px;
    }
    .video-pic-section > .video > .title {
        font-size: 14px;
        padding: 0 5px;
        font-weight: 700;
    }
    .video-pic-section > .video > p {
        margin: 0 !important;
    }
    .video-pic-section .separate-line {
        height: 2px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
        width: 11px;
        margin-right: 10px;
        float: right;
    }

    .video-pic-section > .video .page-num {
        margin-top: 10px;
        text-align: center;
        display: inline-flex;
    }

    .video-pic-section > .pic-slider {
        position: relative;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.9);
        color: #d4a93f;
        padding: 8px;
        margin-bottom: 40px;
    }

    .video-pic-section > .pic-slider .title {
        margin-bottom: 10px;
        text-align: center;
        font-size: 14px;
    }

    .video-pic-section > .pic-slider .love {
        display: inline-block;
        background-size: 100% 130%;
        background-position: center top;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
    }

    .video-pic-section .slider {
        padding-left: 19px;
        padding-right: 19px;
    }

    .video-pic-section .slider img{
        padding: 4px;
        cursor: pointer;
    }
    .mobile-pic-wrapper {
        position: relative;
        display: inline-flex;
        padding-top: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    .mobile-pic-wrapper > .pagingInfo {
        margin: 0 !important;
    }
    .slick-control-left {
        position: relative;
        width: 6px;
        height: auto;
        transform: translateY(50%);
        margin-right: 20px;
    }
    .slick-control-right {
        position: relative;
        width: 6px;
        height: auto;
        margin-left: 20px;
        transform: translateY(25%);
    }
    .slick-control-left > img {
        width: 100%;
        transform: translateY(-50%) scale(-1, -1);
    }
    .slick-control-right > img {
        width: 100%;
    }
    /* change slick css */
    .slick-next:before {
        content: none;
    }

    .slick-prev:before {
        content: none;
    }
    .pic-slider .pagingInfo {
        text-align: center;
        margin-top: 15px;
    }
    .pic-left-btn {
        transform: scale(-1 ,-1) translateY(50%);
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0 !important;
    }
    .slider > .responsive > .slick-list > .slick-track > .slick-slide {
        max-height: 61px;
        overflow: hidden;
    }

    /************************ Girl Footer Section*****************************/
    .girl-footer-info {
        position: relative;
        width: 280px;
        display: inline-block;
        left: calc(50% - 140px);
    }

    .girl-footer-info > .info {
        position: relative;
        background-color: rgba(0, 0, 0, 0.9);
        color: #d4a93f;
        width: 100%;
        height: 50px;
        white-space: nowrap;
        border: 1px solid rgba(0, 0, 0, 0.9);
    }
    .girl-footer-info .info .title {
        font-size: 15px;
        opacity: 0.5;
        margin: 0;
        position: absolute;
        left: 13px;
        top: 14px;
    }
    .girl-footer-info .info .record {
        position: absolute;
        right: 18px;
        top: 16px;
        font-size: 24px;
        font-style: italic;
        margin: 0;
    }
    .girl-footer-info > .info:nth-child(4) > .record {        
        font-size: 18px;
        font-style: normal;
    }
    /* message box */
    .girl-footer-message {
        position: relative;
        width: 100%;
        /* left: calc(50% - 130px); */
        background-color: #000000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.56);
        text-align: center;
        margin-top: 10px;
    }
    .girl-footer-message .message-btn {
        padding-top: 20px;
        color: #d9af42;
        cursor: pointer;
    }

    .girl-footer-message .message-btn > .title  {
        padding-top: 10px;
        font-size: 14px;
    }

    .girl-footer-message .message-btn > .board {
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 15px;
    }

    .girl-footer-message .message-btn > .board .love {
        display: inline-block;
        margin-top: -4px;
    }
    .girl-footer-message .message-btn > .board > img {
        width: 20px;
    }
    .message-btn-mobile {
        position: relative;
        left: 50%;
        transform: translateX(-103.5px);
        color: #fff;
        background-image: linear-gradient(to top, #bb611b, #c52821);
        width: 207px;
        height: 61px;
        text-align: center;
        font-size: 14px;
        border: none;
        margin-top: 62px;
    }
    .girl-footer-message > .separate {
        width: 262px;
        border-top: none;
        padding-bottom: 20px;
        margin: 20px 0 0 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    /* message board */
    .message-board {
        position: relative;
        width: 100%;
        /* left: calc(50% - 130px); */
        background-color: #000000;
        padding: 0 8px;
    }
    .message-board.active {
        display: block;
    }

    .message-content {
        position: relative;
        height: 700px;
        width: 260px;
        left: 50%;
        transform: translateX(-50%);
        overflow-x: hidden;
        color: white;
        font-size: 14px;
    }
    
    #message-content > .message {
        width: 100%;
        border-radius: 6px;
        background-image: linear-gradient(50deg, #bb611b, #c52821);
        padding: 11px 20px 1px 20px;
    }
    #message-content > .message > .floor {
        opacity: 0.5;
    }
    #message-content > .message > .date {
        text-align: right;
        opacity: 0.5;
    }
    #message-content > .reply {
        padding-top: 29px;
        display: inline-flex;
        width: 100%;
    }
    .reply-girl-pic {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    #message-content > .reply > img {
        width: 58px;
        height: 58px;
        border-radius: 50%;
    }
    #message-content > .reply > .text {
        padding-left: 17px;
        width: calc(100% - 58px);
    }
    #message-content > hr {
        border: 1px solid #4a4a4a;
    }
    .message-board > .send-message {
        padding-top: 10px;
        width: 100% !important;
        display: inline-flex;
    }
    .message-board > .send-message > input {
        width: 188px;
    }
    .message-board > .send-message > .send-message-btn {
        width: 74px;
        height: 38x;
        border-radius: 4px;
        background-image: linear-gradient(6deg, #bb611b, #c52821);
        border: none;
        color: white;
        margin-left: 9px;
    }
    .send-message-mobile {
        display: none;
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 30px;
    }
    .send-message-mobile > .send-message-btn {
        color: white;
        border-radius: 4px;
        border: none;
        background-image: linear-gradient(46deg, #bb611b, #c52821);
        padding: 10px 20px;
        margin-top: 20px;
    }
    /* dealing with carousel */
    .carousel {
        padding: 10px 10px;
        display: inline-flex;
        margin-left: -10px;
        margin-right: -10px;
    }
    .page-num {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 300;
    }
    .page-num > .page {
        position: relative;
        top: 50%;
        margin: 0;
    }
    .page-num > .carousel-control-left {
        position: relative;
        padding-right: 24px;
        cursor: pointer;
    }
    .page-num > .carousel-control-left > img {
        position: relative;
        top: 50%;
        transform: scale(-1, -1) translateY(50%);
        width: 6px;
    }
    .page-num > .carousel-control-right {
        position: relative;
        padding-left: 24px;
        cursor: pointer;
    }
    .page-num > .carousel-control-right > img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
    }
    .play-icon {
        position: absolute;
        top: 68%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .play-icon > img {
        width: 100%;
    }
    /* video player section */
    .video-player {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 3000;
        background-color: rgba(0, 0, 0, 0.87);
    }
    .video-player > .video-close{
        color: #d4a93f;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 14px;
        z-index: 9999;
    }
    .video-player > .video-player-tag {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 883px;
        height: 100vh;
    }
    .video-player > .video-player-tag > iframe{
        width: 100%;
    }
    /* slick photo player */
    .photo-player {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 3000;
        background-color: rgba(0, 0, 0, 0.87);
    }
    .photo-player > .photo-close {
        color: #d4a93f;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 14px;
        z-index: 4000;
    }
    .photo-player > .photo-slider {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 1440px;
        height: 90vh;
        overflow: hidden;
        display: inline-flex;
    }

    .photo-player > .photo-slider > .photo-left {
        position: relative;
        width: 10%;
        padding: 0 10px;
    }
    .photo-player > .photo-slider > .photo-left > img {
        position: relative;
        width: 100%;
        max-width: 30px;
        top: 50%;
        transform: scale(-1, -1);
    }
    .photo-player > .photo-slider > .photo-right{
        position: relative;
        width: 10%;
        padding: 0 10px;
    }
    .photo-player > .photo-slider > .photo-right > img {
        position: relative;
        width: 100%;
        top: 50%;
        max-width: 30px;
        float: right;
    }
    .photo-player > .photo-slider > .photo{
        position: relative;
        width: 80%;
        display: inline-flex;
    }

    .photo-player > .photo-slider > .photo > .photo-item {
        display: none;
        height: 90vh;
        width: 100%;
        padding: 20px;
    }
    .photo-player > .photo-slider > .photo > .photo-item > img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }

    /* ********* */
    .photo-player > .photo-slider {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 883px;
        height: auto;
    }
    .photo-player > .photo-slider > .responsive > div {
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
    }
    .photo-player > .photo-slider > .responsive > div img {
        width: 100%;
    }
    .photo-player > .photo-slider .slick-arrow {
        width: 38px;
        height: 58px;
    }
    .photo-player > .photo-slider .slick-arrow > img {
        width: 80%;
    }
    /* override slick css */
    .slick-list {
        height: auto !important;
    }
    .slick-prev {
        left: 0 !important;
    }
    .slick-next {
        right: 0 !important;
    }
}
@media (max-height: 749px) and (min-width: 768px) {
    .video-pic-section > .video {
        width: calc(80vh - 165px);
        height: calc(70vh - 144px);
    }
}

.loading-more {
    color: #9b9b9b;
    text-align: center;
    font-size: 14px;
    padding: 47px 0;
}
@media (min-width: 768px) {
    .pic-slider-gold-seperator {
        position: relative;
        margin-left: 30px;
        margin-top: 5px;
        height: 4px;
        width: 75px;
        background-image: linear-gradient(73deg, #88500b, #ffdb5c);
    }
    .visible-on-xs {
        display: none !important;
    }
    .video > .carousel > .carousel-inner {
        margin-top: -10px;
    }
}
@media (max-width: 767px) {
    .pic-slider-gold-seperator {
        display: none;
    }
    .visible-on-xs {
        display: inline-block !important;
    }
}
.page, .pagingInfo{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: #9b9b9b;
}
.pic-slider-gold-svg {
    width: 15.9px;
    height: 16.9px;
}

.carousel-inner > .item > video {
    width: 100%;
    max-height: 160px;
}

@media (min-width: 768px) {
    .video-title {
        color: #d4a93f;
        font-size: 15px;
        margin-top: 8px;
        padding: 10px;
    }
}
@media (max-width: 767px) {
    .video-title {
        color: #d4a93f;
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 16px;
        padding: 0 5px;
    }
}