/**********************
Black Border
***********************/
:focus {
    outline: 0;
}
#blackBorderDiv {
    /*  */
}

/* set fonts */
/* @font-face {
    font-family: noto-serif-tc;
    src: url(../fonts/NotoSerifCJKtc-Regular.otf);
} */
/* lazy */
/* @font-face {
    font-family: noto-serif-sc;
    src: url(../fonts/NotoSerifCJKsc-Regular.otf);
} */
/* @font-face {
    font-family: noto-sans-tc;
    src: url(../fonts/NotoSansCJKtc-Regular.otf);
}
*/
/* lazy */
/* @font-face {
    font-family: minionPro-it;
    src: url(../fonts/MinionPro-It.otf);
} */
.minionPro {
    vertical-align: middle;
    font-family: 'Crimson Text', serif;
    letter-spacing: 1px;
}
.serif {
    vertical-align: middle;
    font-family: notoserifcjktc, noto-serif-sc, serif;
    font-weight: 400;
    /* letter-spacing: 1.4px; */
}
.sans {
    vertical-align: middle;
    font-family: 'Noto Sans TC', 'Noto Sans SC', serif;
    font-weight: 400;
    /* letter-spacing: 1.4px; */
}
.minionPro-it {
    vertical-align: middle;
    font-family: minionPro-it, serif;
    font-weight: 100;
    /* letter-spacing: 1.4px; */
}
.arial {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
}
body {
    background-color: #000000;
}
@media (min-width: 768px) {
    #blackBorderDiv > .black-border {
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        border-top: 99px solid black;
        border-left: 70px solid black;
        border-right: 48px solid black;
        /* border-bottom: 48px solid black; */
    }
    #blackBorderDiv > .black-border > a > .logo {
        position: fixed;
        z-index: 105;
        top: 17px;
        width: 220.1px;
        left: 50%;
        transform: translateX(-50%);
    }
}
@media (max-width: 767px) {
    #blackBorderDiv > .black-border {
        position: fixed;
        z-index: 100;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        border-top: 52px solid black;
        border-left: 2px solid black;
        border-right: 2px solid black;
        /* border-bottom: 2px solid black; */
    }
    #blackBorderDiv > .black-border > a > .logo {
        position: fixed;
        z-index: 105;
        top: 10px;
        width: 120px;
        left: 50%;
        transform: translateX(-50%);
    }
}
#blackBorderDiv > .black-border > .poker-suits {
    position: fixed;
    z-index: 105;
    top: 48px;
    height: 17px;
    left: 44px;
}
#blackBorderDiv > .black-border > .copyrights {
    position: fixed;
    z-index: 105;
    top: 50vh;
    left: 35px;
    transform: translate(-7px, -50%);
    width: 14px;
}
.btn-menu-1 {
    position: fixed;
    z-index: 105;
    top: 47px;
    right: 89px;
    color: #d9af42;
    font-size: 20px;
    background-color: black;
    border: none;
}
.btn-menu-2 {
    position: fixed;
    z-index: 105;
    top: 50px;
    right: 51px;
    color: #d9af42;
    font-size: 15px;
    background-color: black;
    border: none;
}
/* #blackBorderDiv > .black-border > .btn-menu-1:focus {
    outline: 0;
}
#blackBorderDiv > .black-border > .btn-menu-2 {
    outline: 0;
} */
@media (min-width: 768px) {
    .menu-content {
        display: none;
        position: fixed;
        z-index: 5500;
        top: 98px;
        right: 0;
        background-color: black;
        color: #d9af42;
        width: 196px;
        height: 167px;
        text-align: right;
    }
    .menu-content > .seperator {
        width: 100%;
        height: 29px;
    }
    .menu-content > .seperator > div {
        position: relative;
        top: -5px;
        left: 79px;
        width: 38px;
        height: 1px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(50deg, #88500b, #bd8e2f 46%, #ffdb5c);
        border-image-slice: 1;
    }
    .menu-content > a {
        position: relative;
        margin-right: 54px;
        display: inline-flex;
        font-size: 18px;
        line-height: 1;
        color: #d9af42;
        margin-bottom: 27px;
        text-decoration: none;
    }
    .menu-content > a::before {
        content: url("../img/black-border/arrow.svg");
        margin-top: 2px;
        padding-right: 22px;
        opacity: 0;
    }
    .menu-content > a:hover::before {
        opacity: 1;
    }
    .menu-content > a > img {
        padding-right: 22px;
    }
    .menu-content > .menu-lang {
        position: relative;
        padding-right: 10px;
    }
    .menu-content > .menu-lang > .lang-btn {
        margin-right: 8px;
        font-size: 15px;
        background-color: black;
        width: 76px;
        height: 30px;
        line-height: 1;
        color: #d9af42;
        border-image-source: linear-gradient(17deg, #88500b, #ffdb5c);
        border-image-slice: 1;
        opacity: 0.5;
    }
    .menu-content > .menu-lang > .lang-btn.active {
        opacity: 1 !important;
    }
}

@media (max-width: 767px) {
    .btn-menu-mobile {
        position: fixed;
        z-index: 1050;
        top: 12px;
        right: 8px;
        background-color: black;
        width: 30px;
        height: 30px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to right, #88500b, #ffdb5c);
        border-image-slice: 1;
    }
    .btn-menu-mobile > .icon-bar {
        display: block;
        width: 14px;
        height: 2px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
        margin-top: 4px;
        margin-bottom: 4px;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .btn-menu-mobile.active > .icon-bar:nth-child(2){
        opacity: 0;
    } 
    .btn-menu-mobile.active > .icon-bar:nth-child(1){
        -webkit-transform: translate(-50%, 6px) rotate(45deg) scale(1.4, 1); 
        -ms-transform: translate(-50%, 6px) rotate(45deg) scale(1.4, 1); 
        -o-transform: translate(-50%, 6px) rotate(45deg) scale(1.4, 1); 
        transform: translate(-50%, 6px) rotate(45deg) scale(1.4, 1); 
    }
    
    .btn-menu-mobile.active > .icon-bar:nth-child(3){
        -webkit-transform: translate(-50%, -6px) rotate(-45deg) scale(1.4, 1);
        -ms-transform: translate(-50%, -6px) rotate(-45deg) scale(1.4, 1);
        -o-transform: translate(-50%, -6px) rotate(-45deg) scale(1.4, 1);
        transform: translate(-50%, -6px) rotate(-45deg) scale(1.4, 1);
    }
    .menu-content {
        display: none;
        position: fixed;
        z-index: 5500;
        top: 50px;
        right: 0;
        background-color: black;
        color: #d9af42;
        width: 100vw;
        height: calc(100vh - 50px);
        text-align: center;
        padding-top: 58px;
    }
    .menu-content > .banner {
        text-align: center;
        margin-bottom: 0px;
    }
    .menu-content > .seperator {
        width: 100%;
        height: 50px;
    }
    .menu-content > .seperator > div {
        display: inline-block;
        width: 38px;
        height: 1px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(50deg, #88500b, #bd8e2f 46%, #ffdb5c);
        border-image-slice: 1;
    }
    .menu-content > a {
        position: relative;
        display: inline-flex;
        font-size: 18px;
        line-height: 1;
        color: #d9af42;
        margin-bottom: 27px;
    }
    .menu-content > a > img {
        padding-right: 22px;
    }
    .menu-content > .menu-lang {
        margin-top: 127px;
        position: relative;
    }
    .menu-content > .menu-lang > .lang-btn {
        margin-right: 8px;
        font-size: 15px;
        background-color: black;
        width: 76px;
        height: 30px;
        line-height: 1;
        color: #d9af42;
        border-image-source: linear-gradient(17deg, #88500b, #ffdb5c);
        border-image-slice: 1;
        opacity: 0.5;
    }
    .menu-content > .menu-lang > .lang-btn.active {
        opacity: 1 !important;
    }
}
.menu-content.active {
    display: block !important;
}
@media (min-width: 768px) {
    .view-port {
        position: absolute;
        z-index: 200;
        top: 98px;
        left: 69px;
        width: calc(100vw - 116px);
        height: calc(100vh - 98px);
        /* overflow: hidden; */
        overflow-y: scroll;
        background-color: #000000;
        max-width: 1600px;
        left: 50%;
        transform: translateX(-50%);
    }    
}
@media (max-width: 767px) {
    .view-port {
        position: absolute;
        z-index: 200;
        top: 51px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100vw - 14px);
        height: calc(100vh - 51px);
        /* overflow: hidden; */
        overflow-y: scroll;
        background-color: #000000;
        -webkit-overflow-scrolling: touch;
    }
}
#meetGirls {
    overflow: scroll;
}
/* .wow { 
    visibility: hidden;
} */
.loading-cover {
    position: fixed;
    z-index: 3000;
    background-color: #000000;
    /* opacity: 0.87; */
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}
.loading-cover > .loading-cover-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
@media (min-width: 768px) {
    .loading-cover > .loading-cover-label {
        display: inline-flex;
        height: 75px;
    }
    .loading-cover > .loading-cover-label > img {
        position: relative;
        width: 100%;
    }
    /* .loading-cover > .loading-cover-label > img:nth-child(1) {
        position: relative;
        width: 38px;
        height: 58px;
        transform: scale(-1, -1);
    }
    .loading-cover > .loading-cover-label > img:nth-child(2) {
        position: relative;
        width: auto;
        height: 75px;
        padding: 0 239px;
    }
    .loading-cover > .loading-cover-label > img:nth-child(3) {
        position: relative;
        width: 38px;
        height: 58px;        
    } */
}
@media (max-width:767px) {
    .loading-cover > .loading-cover-label {
        display: inline-flex;
    }
    .loading-cover > .loading-cover-label > img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
    }
    /* .loading-cover > .loading-cover-label > img:nth-child(1) {
        position: relative;
        width: 20%;
        padding: 20px;
        transform: scale(-1, -1);
    }
    .loading-cover > .loading-cover-label > img:nth-child(2) {
        position: relative;
        width: 60%;
    }
    .loading-cover > .loading-cover-label > img:nth-child(3) {
        position: relative;
        width: 20%;
        padding: 20px;
    } */
}
/* mobile bottom copy right */
.bottom-copyright {
    position: relative;
    background-color: #000000;
    color: #d4a93f;
    width: 100%;
    font-size: 14px;
    bottom: 0;
    margin-top: -15px;
}
.bottom-copyright > p {    
    margin-bottom: 0;
    margin-top: 10px;
    padding: 10px 0 5px 0;
}
#justfont-badge {
    display: none !important;
}
@media (min-width: 768px) {
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        /* box-shadow: inset 0 0 5px grey;  */
        border-radius: 20px;
        border: none;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #424242; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track-piece {
        background: transparent;
    }
}

hr {
    margin-right: 15px !important;
}