@font-face {
    font-family: noto-serif-sc;
    src: url(../fonts/NotoSerifCJKsc-Regular.otf);
}
@font-face {
    font-family: minionPro-it;
    src: url(../fonts/MinionPro-It.otf);
}
@font-face {
    font-family: minionProRegular;
    src: url(../fonts/MinionProRegular.ttf);
}