#section-home {
    position: relative;
    background-color: #000;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 768px) {
    #section-home {
        height: calc(100vh - 99px);
    }
}
@media (max-width: 767px) {
    #section-home {
        height: calc(100vh - 51px);
    }
}
#section-home > .fp-tableCell {
    height: calc(100vh - 99px) !important;
}
@media (min-width: 768px) {
    .scroll-nav {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        color: #d9af42;
        font-size: 18px;
        overflow: visible;
        z-index: 400;
    }
    .scroll-nav > .nav-stick {
        position: relative;
        width: 1px;
        height: 44px;
        /* border-style: solid;
        border-width: 1px; */
        background: linear-gradient(to right, #88500b, #ffdb5c);
        /* border-image-slice: 1; */
        animation-name: nav-stick;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes nav-stick {
    0% {transform: translateY(0);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

@media (max-width: 767px) {
    .scroll-nav {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        color: #d9af42;
        font-size: 14px;
        overflow: visible;
        z-index: 400;
    }
    .scroll-nav > .nav-stick {
        position: relative;
        width: 1px;
        height: 44px;
        /* border-style: solid; */
        /* border-width: 1px; */
        background: linear-gradient(to right, #88500b, #ffdb5c);
        /* border-image-slice: 1; */
        animation-name: nav-stick;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}


@media (min-width: 768px) {
    #section-home > .main-visual {
        width: 100%;
        height: 834px;
        /* padding-top: 43px; */
    }
    #section-home > .main-visual > img {
        width: auto;
        height: 100%;
        max-width: 1920px;
        max-height: 1080px;
        position: absolute;
        left: 50%;
        transform: translateX(-49%);
    }    
}
@media (max-width: 767px) {
    #section-home > .main-visual {
        position: relative;
        width: calc(100vw - 14px);
        left: 50%;
        transform: translateX(-50%) ;
        height: 834px;
        padding-top: 25px;
        overflow: hidden;
    }
    #section-home > .main-visual > img {
        width: auto;
        height: 458px;
        position: absolute;
        left: 50%;
        transform: translateX(-49.5%);
    }
}
#section-intro {
    position: relative;
    top: -1px;
    background-color: #000;
    width: 100%;
    height: auto !important;
    overflow: hidden;
    min-height: 120vh;
}
.introDiv {
    position: relative;
    padding-top: 100px;
    /* height: calc(100vh - 147px) !important; */
}
/* due to the design of 1263px background bar */
/* the screen is set to change under min-width:1400px */
@media (min-width: 1400px) {
    .introDiv > .girls-line > .line-up > .inner-line-up {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
        display: inline-block;
    }
    .introDiv > .girls-line > div:nth-child(1){
        float: right;
        margin-top: 67px !important;
        width: 1263px;
    }
    .introDiv > .girls-line > div:nth-child(odd){
        float: right;
        margin-top: 118px;
        width: 1263px;
    }
    .introDiv > .girls-line > div:nth-child(even){
        float: left;
        width: 1263px; 
        margin-top: 118px;
    }
}
@media (max-width: 1399px) and (min-width: 768px) {
    .introDiv > .girls-line > .line-up {
        display: inline-block;
        height: auto;
        width: 100%;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up {
        position: relative;
        width: 665px;
        height: 442px;
        display: inline-block;
        margin-top: 118px;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up:nth-child(odd) {
        float: right;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up:nth-child(even) {
        float: left;
    }
}
@media (min-width: 768px) {
    .introDiv > .girls-line > .line-up > .inner-line-up > .bg {
        height: 300px;
    }
    .introDiv > .girls-line > div {
        height: 442px;
    }
    .introDiv > .meet-girls-badge {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 406px;
        height: 67px;
        /* border-radius: 55px; */
        /* background: linear-gradient(72deg, #88500b, #ffdb5c); */
        display: inline-flex;
        padding: 1px;
        background-repeat: no-repeat;
        background-image: url('../img/meetGirls/meet-girls-border.png');
        background-size: 100% auto;
        background-position: center center;
        color: #d4a93f;
    }
    /* .introDiv > .meet-girls-badge > .badge {
        background-color: #000;
        display: inline-flex;
        border-radius: 55px;
        width: 406px;
        height: 67px;
        color: #d4a93f;
        padding: 0;
    } */
    .introDiv > .meet-girls-badge > p:nth-child(1) {
        position: relative;
        top: 50%;
        transform: translateY(-30%);
        padding-left: 82px;
        font-size: 24px;
        font-weight: 700;
    }
    .introDiv > .meet-girls-badge > p:nth-child(2) {
        position: relative;
        top: 50%;
        transform: translateY(-34%);
        /* margin-top: 26px; */
        font-size: 24px;
        font-weight: 700;
        padding-left: 10px;
        padding-right: 25px;
    }
    .introDiv > .meet-girls-badge > .badge::before {
        content:url('../img/meetGirls/logo.svg');
        height: 60px;
        width: 60px;
        margin: 17px;
    }
    .introDiv > .meet-girls-badge > .badge::after {
        content:url('../img/meetGirls/logo.svg');
        height: 60px;
        width: 60px;
        margin: 17px;
    }
    .introDiv > .girls-line {
        width: 100%;
        display: inline-block;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .bg {
        position: absolute;
        /* bottom: 0; */
        top: 0;
        margin-top: 142px;
        width: 100%;
        background-color: #141414;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card {
        position: relative;
        float: left;
        width: 50%;
        height: 100%;
        display: inline-block;
        cursor: pointer;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-size: 100% auto;
        background-position: center center;
        width: 280px;
        height: 327px;
        overflow: hidden;
        border-radius: 140px;
        transition: box-shadow 0.4s;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-img:hover {
        box-shadow: 0 0 30px 0 #d9af42;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-label {
        position: absolute;
        left: 56px;
        bottom: 69px;
        color: #d4a93f;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-label > p {
        line-height: 1;
        font-size: 18px;
        opacity: 0.5;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-label > .seperator {
        width: 15px;
        height: 1px;
        border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to right, #88500b, #ffdb5c);
        border-image-slice: 1;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-content {
        position: absolute;
        bottom: 28px; 
        right: 0px; 
        color: #d4a93f;
        padding-right: 20px;
        text-align: right;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-content > .girls-name {
        display: inline-block;
        font-size: 24px;
    }
    .girls-card > .girls-card-content > .girls-data-table {
        font-size: 12px;
    }
    .girls-card > .girls-card-content > .girls-data-table > tbody > tr > td{
        opacity: 0.3;
    }
    .highlight {
        font-style: italic;
        padding: 0px 5px;
        font-size: 18px;
        opacity: 0.5 !important;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        height: 327px;
        border-radius: 140px;
        -webkit-transition: box-shadow 0.4s; /* Safari */
        transition: box-shadow 0.4s;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > img:hover {
        box-shadow: 0 0 30px 0 #d9af42;
    }
}
@media (max-width: 767px) {    
    .introDiv > .girls-line {
        height: auto;
        width: 100%;
        display: inline-block;
    }
    .introDiv > .meet-girls-badge {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 256px;
        height: 54px;
        display: inline-flex;
        padding: 1px;
        color: #d4a93f;
        background-image: url('../img/meetGirls/meet-girls-border.png');
        background-size: 100% auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    /* .introDiv > .meet-girls-badge > .badge {
        background-color: #000;
        display: inline-flex;
        border-radius: 27px;
        width: 253px;
        height: 52px;
        color: #d4a93f;
        padding: 0;
    } */
    .introDiv > .meet-girls-badge > .badge > img {
        width: 30px;
        height: 30px;
        margin: 11px 9px;
    }
    .introDiv > .meet-girls-badge > p:nth-child(1) {
        margin-top: 18px;
        padding-left: 56px;
        font-size: 14px;
        font-weight: 700;
        transform: translateY(-10%);
        letter-spacing: 0 !important;
    }
    .introDiv > .meet-girls-badge > p:nth-child(2) {
        margin-top: 17px;
        font-size: 14px;
        font-weight: 700;
        padding-left: 7px;
        padding-right: 3px;
        transform: translateY(-8%);
    }
    .introDiv > .girls-line > .line-up {
        height: auto;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up {
        position: relative;
        width: 100%;
        min-height: 201px;
        margin-top: 60px;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .bg {
        position: absolute;
        /* bottom: 0; */
        top: 0;
        margin-top: 97px;
        width: 100%;
        height: 151px;
        background-color: #141414;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card {
        position: relative;
        width: calc(50% - 2px);
        min-width: 128px;
        height: 248px;
        display: inline-block;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-label {
        position: absolute;
        left: 26%;
        transform: translateX(-100%);
        top: 0;
        color: #d4a93f;
        z-index: 50;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-label > p {
        line-height: 1;
        font-size: 12px;
        font-style: italic;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-label > .seperator {
        display: none;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-size: 100% auto;
        background-position: center center;
        width: 128px;
        height: 149px;
        overflow: hidden;
        border-radius: 140px;
        transition: box-shadow 0.4s;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-img:hover {
        box-shadow: 0 0 30px 0 #d9af42;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        /* width: 25vw; */
        width: 128px;
        /* height: calc(25vw * 1.155); */
        height: 149px;
        border-radius: 64px;
        z-index: 100;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-content {
        position: relative;
        top: 13px; 
        left: 50%;
        transform: translateX(-50%);
        width: 128px;
        color: #d4a93f;
        padding-left: 13px;
        text-align: left;
    }
    .introDiv > .girls-line > .line-up > .inner-line-up > .girls-card > .girls-card-content > .girls-name {
        display: inline-block;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .girls-card > .girls-card-content > .girls-data-table {
        font-size: 12px;
        line-height: 1.2;
    }
    .girls-card > .girls-card-content > .girls-data-table > tbody > tr > td{
        opacity: 0.3;
    }
    .highlight {
        font-style: italic;
        padding-left: 7px;
        padding-top: 3px;
        font-size: 14px;
        opacity: 0.5 !important;
    }
}
.wow {
    visibility: hidden;
}

/* added video carousel */
@media (min-width: 768px) {
    .video-carousel {
        padding: 5px 15px 20px 15px;
        position: absolute;
        bottom: 70px;
        left: 22px;
        width: 435px;
        height: auto;
        background-color: rgba(0, 0, 0, 0.75);
        /* background-color: blue; */
    }
    .video-carousel > .carousel > .video-control-left {
        padding: 0 10px;
    }
    .video-carousel > .carousel > .video-control-left > img {
        position: relative;
        top: 35%;
        transform: scale(-1, -1);
    }
    .video-carousel > .carousel > .video-control-right {
        padding: 0 10px;
    }
    .video-carousel > .carousel > .video-control-right > img {
        position: relative;
        top: 35%;
    }
    .video-info {
        position: relative;
        min-height: 90px;
        height: 100%;
        color: #d9af42; 
    }
    .video-info > .video-title {
        position: absolute;
        left: 0;
        font-size: 20px;
        letter-spacing: 0 !important;
        padding: 0;
    }
    .video-info > .video-content {
        position: absolute;
        left: 0;
        top: 20px;
        font-size: 15px;
        letter-spacing: 0 !important;
    }
    .video-info > .date {
        position: absolute;
        top: 15px;
        right: 0;
        font-size: 14px;
        opacity: 0.5;
        letter-spacing: 0 !important;
    }
    .paging-div {
        position: absolute;
        bottom: 20px;
        right: 40px;
    }
    .play-icon-home {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        text-align: center;
    }
    .play-icon-home > img{
        width: 90%;
    }
    #news-carousel > .item {
        min-width: 380px;
    }
    #news-carousel > .item > img {
        max-height: 240px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

}
@media (max-width: 1439px) and (min-width: 768px){
    .video-carousel {
        width: 361px !important;
    }
    #news-carousel > .item {
        min-width: 300px !important;
    }
}
@media (max-width: 767px) {
    .video-carousel {
        padding: 5px 15px 20px 15px;
        position: relative;
        width: 100%;
        height: auto;
        background-color: rgba(0, 0, 0, 0.75);
        /* background-color: blue; */
    }
    .video-carousel > .carousel > .video-control-left {
        padding: 25% 10px 0 10px;
    }
    .video-carousel > .carousel > .video-control-left > img {
        position: relative;
        transform: scale(-1, -1);
    }
    .video-carousel > .carousel > .video-control-right {
        padding: 25% 10px 0 10px;
    }
    .video-carousel > .carousel > .video-control-right > img {
        position: relative;
    }
    .video-info {
        position: relative;
        min-height: 90px;
        height: 100%;
        color: #d9af42; 
    }
    .video-info > .video-title {
        display: none;
    }
    .video-info > .video-content {
        position: absolute;
        left: 0;
        top: 25px;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .video-info > .date {
        position: absolute;
        top: 22px;
        left: 0;
        font-size: 14px;
        opacity: 0.5;
    }
    .paging-div {
        position: absolute;
        bottom: 60px;
        right: 40px;
        font-size: 20px;
    }
    .play-icon-home {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        text-align: center;
    }
    .play-icon-home > img{
        width: 70%;
    }

    .mob-carousel-title {
        text-align: center;
        padding-top: 45px;
        color: #d9af42;
    }
    .mob-carousel-title > .mob-title-1 {
        font-size: 20px;
    }
    .mob-carousel-title > .mob-title-2 {
        font-size: 15px;
    }
    .mob-carousel-title > .mob-seperator {
        margin: 10px 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 25px;
        height: 1px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
        /* border-style: solid;
        border-width: 1px;
        border-image-source: linear-gradient(to right, #88500b, #ffdb5c); */
    }
    #news-carousel > .item {
        min-width: calc(100vw - 80px);
    }
    #news-carousel > .item > img {
        max-height: 180px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* floating animation */
@keyframes exam {
    0% {
        opacity: 1;
        transform: skew(-2deg,-2deg) translateX(-51%);
    }
    25% {
        opacity: 0.6;
        transform: skew(-2deg,-2deg) translateX(-51%);
    }
    50% {
        opacity: 1;
        transform: skew(-1deg,-1deg) translateX(-51%);
    }
    75% {
        opacity: 0.6;
        transform: skew(0deg,0deg) translateX(-51%);
    }
    100% {
        opacity: 1;
        transform: skew(-2deg,-2deg) translateX(-51%);
    }
}

#floating-bg {
    opacity: 1;
    animation-name: exam;
    transform: skew(-5deg,-5deg) translateX(-51%) !important;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
#news-carousel > .item > .video-info > .video-content{
    white-space: pre-line;
}
#news-carousel > .item > video {
    width: 100%;
    max-height: 250px;
}
