.news-main-content-info {
    position: relative;
    width: 100%;
    max-width: 760px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 65px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* height: calc(100vh - 99px); */
    height: auto;
}
.news-main-content-info::-webkit-scrollbar { 
    display: none; 
}
.news-main-content-info::-webkit-scrollbar {
    -webkit-appearance: none;
}
.news-main-content-info > .content-title {
    color: #d9af42;
    font-weight: 700;
    width: 100%;
    padding: 0 18px;
}
@media (min-width: 768px) {
    .news-main-content-info > .content-title {
        font-size: 24px;
        white-space: pre-line;
    }
    .news-main-content-info > .content-date > .date-info {
        font-size: 20px
    }
    .news-main-content-info > .content-text {
        font-size: 20px;
    }
    .news-main-content-info > .content-text {
        font-size: 20px;
    }
    .news-main-content-info > .content-text > p {
        margin: 12px 0;
        padding: 0 10px;
    }
    .news-main-content-info > .content-text > .img-wrapper {
        position: relative;
        width: 100%;
    }
    .news-main-content-info > .content-text > .img-wrapper > img {
        margin: 12px 0;
        width: 100%;
    }
    .news-main-content-info > .content-text > .img-wrapper > .play-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 88px !important;
        height: 88px !important;
        margin: 0 !important;
    }
    .news-main-content-info-back {
        position: absolute;
        right: 23px;
        top: 86px;
        cursor: pointer;
    }
}
@media (max-width: 767px) {
    .news-main-content-info > .content-title {
        font-size: 24px;
        white-space: pre-line;
    }
    .news-main-content-info > .content-date > .banner {
        margin-left: 10px;
        display: none;
    }
    .news-main-content-info > .content-date > .date-info {
        font-size: 14px;
        opacity: 0.8;
        margin-right: 10px;
    }
    .news-main-content-info > .content-text {
        font-size: 15px;
    }

    .news-main-content-info > .content-text > p {
        margin: 12px 0;
        padding: 0 10px;
    }
    .news-main-content-info > .content-text > .img-wrapper {
        position: relative;
        width: 100%;
    }
    .news-main-content-info > .content-text > .img-wrapper > img {
        margin: 12px 0;
        width: 100%;
    }
    .news-main-content-info > .content-text > .img-wrapper > .play-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 74px !important;
        height: 74px !important;
        margin: 0 !important;
    }

    .news-main-content-info-back {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 92px;
        margin-bottom: 80px;
        cursor: pointer;
    }
    .copyright {
        position: relative;
        width: 100%;
        text-align: center;
        height: 20px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .copyright > img {
        /* transform: rotate(90deg) translateX(-90px); */
    }
}
.news-main-content-info > .content-date {
    margin-top: 21px;
    width: 100%;
    height: auto;
    display: inline-block;
}
.news-main-content-info > .content-date > .banner {
    color: #d9af42;
    opacity: 0.5;
    font-size: 14px;
    position: relative;
    left: 0;
    top: 0;
}
.news-main-content-info > .content-date > .date-info {
    color: #d9af42;
    opacity: 0.8;
    position: relative;
    float: right;
    padding-right: 5px;
    margin-top: -10px;
    font-style: italic;
}
.news-main-content-info > .seperator {
    width: 100%;
    height: 1px;
    background: radial-gradient(circle at 48% 0, #88500b, #ffdb5c);
    opacity: 0.5;
    margin-top: 5px;
    margin-bottom: 14px;
}

.news-main-content-info > .img-section {
    width: 100%;
    min-height: 200px;
    position: relative;
}

.news-main-content-info > .img-section > .img-responsive {
    width: 100%;
}

.news-main-content-info > .content-text {
    /* padding: 22px 11px; */
    color: #ffffff;
    /* font-size: 18px; */
    font-weight: 100;
    width: 100%;
}


.info-photo-player {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    /* padding: 100px 0; */
    z-index: 6000;
}

.info-photo-player > .photo-close {
    position: absolute; 
    color: #d9af42;
}

@media (min-width: 768px) {
    .info-photo-player > .photo-close {
        top: 120px;
        right: 120px;
        font-size: 20px;
        z-index: 9000;
    }
    .info-video-player > .video-close {
        position: absolute;
        top: 120px;
        right: 120px;
        color: #d9af42;
        font-size: 20px;
        z-index: 9000;
    }
    .play-icon-info {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@media (max-width: 767px) {
    .info-photo-player > .photo-close {
        top: 20px;
        right: 20px;
        font-size: 14px;
    }
    .info-video-player > .video-close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #d9af42;
        font-size: 14px;
    }
    .play-icon-info {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.info-photo-player > .photo-slider {
    position: relative;
    width: 96%;
    max-width: 900px;
    max-height: 683px;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}
.info-photo-player > .photo-slider > img, video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: 80vh;
}

.video-responsive {
    width: 100%;
}

.info-video-player {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 0;
    z-index: 6000;
}


.info-video-player > .video {
    position: relative;
    width: 95% !important;
    max-width: 722px;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}