.news-main-content {
    width: 100%;
    max-width: 1600px;
}

@media (min-width: 768px) {
    .news-main-content > .news-content-title {
        position: relative;
        padding: 26px 45px;
        width: 100%;
        color: #d9af42;
        line-height: 1.2;
        letter-spacing: 1px;
    }
    .news-main-content > .news-content-title > .title1 {
        padding: 5px 0;
        font-size: 20px;
        font-family: minionProRegular;
    }
    .news-main-content > .news-content-title > .title2 {
        padding: 5px 0;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .news-main-content > .news-content-title > .seperator {
        margin-top: 15px;
        position: relative;
        width: 49px;
        height: 1px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
    }
    /* content */
    .news-content {
        width: 100%;
        max-width: 1600px;
        margin-top: -50px;
    }
    .news-content-page {
        overflow: hidden;
    }
    .news-content-page > .content-card {
        display: inline-flex;
        padding-top: 16px;
        padding-bottom: 16px;
        /* margin-left: calc(30vw - 250px); */
        margin-left: 204px;
        margin-right: 168px;
        color: #d9af42;
        /* width: 100%; */
        width: calc(100vw - 460px);
    }
    .news-content-page > .content-card:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
    .news-content-page > .content-card > .seperator {
        width: 27px;
        height: 1px;
        background: radial-gradient(circle at 48% 0, #88500b, #ffdb5c);
        margin-top: 199px;
        position: absolute;
        margin-left: -15px;
    }
    .news-content-page > .content-card > .img {
        width: 350px;
        height: 200px;
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: hidden;
        margin: 0 28px;
    }
    .news-content-page > .content-card > .img > video {
        width: 100%;
        height: auto;
    }
    .news-content-page > .content-card > .img > .player {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .news-content-page > .content-card > .content {
        padding-top: 29px; 
        margin: 0 15px;
    }
    .news-content-page > .content-card > .content > .title {
        font-size: 24px;
        font-weight: 700;
        white-space: pre-line;
        height: 70px;
    }
    .news-content-page > .content-card > .content > .date-banner {
        padding: 15px 0;
        font-size: 14px;
        opacity: 0.5;
    }
    .news-content-page > .content-card > .content > .seperator {
        width: 172px;
        height: 1px;
        opacity: 0.5;
        margin-left: -6px;
        background: radial-gradient(circle at 48% 0, #88500b, #ffdb5c);
    }
    .news-content-page > .content-card > .content > .date {
        font-size: 20px;
        opacity: 0.8;
        padding: 11px 0;
    }
    .news-content-page > .content-card > .content > .see-more {
        position: absolute;
        font-size: 18px;
        opacity: 0.5;
        right: 168px;
        /* right: calc(20vw - 150px); */
        margin-top: -30px; 
    }
    .news-content-page > .content-card > .card-seperator {
        position: absolute;
        right: 161px;
        margin-top: 199px;
        width: calc(100vw - 890px);
        min-width: 170px;
        max-width: 820px;
        height: 1px;
        opacity: 0.5;
        background: radial-gradient(circle at 48% 0, #88500b, #ffdb5c);
    }

    /* change page button */
    .change-page-btn {
        font-size: 24px;
        color: #d9af42;
        line-height: 1.2;
        letter-spacing: 1px;
        /* margin: 60px 0px 30px 0px; */
        padding: 0px 45px;
        height: 100px;
    }

    .change-page-btn .news-pagination {
         color: #9b9b9b;
         position: relative;
         top: 30px;
         font-size: 20px;
    }

    .change-page-btn .back, .change-page-btn .prev {
        cursor: pointer;
        font-size: 24px;
    }

    .change-page-btn .prev-col {
       text-align: right;
    }

    .change-page-btn .back.disabled,  .change-page-btn .prev.disabled{
        pointer-events: none;
        opacity: 0.23;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .news-content {
        padding: 0 42px;
        overflow: hidden;
        position: relative;
    }
    .news-content-page > .content-card {
        margin-left: 20px !important;
        margin-right: 20px !important;
        width: 100% !important;
    }
    .news-content-page > .content-card > .content {
        padding-top: 20px !important;
        min-width: 166px;
    }
    .news-content-page > .content-card > .content > .title {
        font-size: 18px !important;
        white-space: pre;
        height: 80px !important;
    }
    
    .news-content-page > .content-card > .content > .date-banner {
        padding-top: 15px !important;
    }
    .news-content-page > .content-card > .content > .date {
        padding-top: 15px !important;
        font-size: 15px !important;
    }
    .news-content-page > .content-card > .content > .see-more {
        right: 52px;
        margin-top: -35px !important;
    }
    .news-content-page > .content-card > .card-seperator {
        right: 52px !important;
        width: calc(100vw - 635px);
    }
}
@media (min-width: 768px) and (max-width: 949px) {
    .news-content-page > .content-card > .content > .see-more {
        display: none;
    }
}

@media (max-width: 767px) {
    .phone-hidden {
        display: none;
    }

    .news-main-content > .news-content-title {
        position: relative;
        padding: 26px 42px;
        width: 100%;
        color: #d9af42;
        line-height: 1.2;
        /* letter-spacing: 1px; */
    }
    .news-main-content > .news-content-title > .title1 {
        padding: 5px 0;
        font-size: 20px;
        font-family: minionProRegular;
    }
    .news-main-content > .news-content-title > .title2 {
        padding: 5px 0;
        letter-spacing: 1px;
        font-size: 15px;
    }
    .news-main-content > .news-content-title > .seperator {
        margin-top: 15px;
        position: relative;
        width: 49px;
        height: 1px;
        background: linear-gradient(to right, #88500b, #ffdb5c);
    }
    /* content */
    .news-content {
        width: 100%;
    }
    /* .news-content-page {
        overflow: hidden;
    } */
    .news-content-page > .content-card {
        /* display: inline-flex; */
        padding-top: 16px;
        padding-bottom: 16px;
        /* margin-left: calc(30vw - 250px); */
        margin-right: 42px;
        color: #d9af42;
        width: 100%;
    }
    .news-content-page > .content-card:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
    .news-content-page > .content-card > .seperator {
        width: 40px;
        height: 1px;
        background: radial-gradient(circle at 48% 0, #88500b, #ffdb5c);
        margin-top: 134px;
        position: absolute;
        margin-left: -15px;
    }
    .news-content-page > .content-card > .img {
        width: 236px;
        height: 134.9px;
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: hidden;
        /* margin: 0 28px; */
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .news-content-page > .content-card > .img > video {
        width: 100%;
        height: auto;
    }
    .news-content-page > .content-card > .img > .player{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .news-content-page > .content-card > .content {
        position: relative;
        width: 236px;
        height: 100px;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 29px; 
        margin: 0 10px;
    }
    .news-content-page > .content-card > .content > .title {
        position: absolute;
        font-size: 15px;
        top: 35px;
        white-space: pre-line;
    }
    .news-content-page > .content-card > .content > .date-banner {
        padding: 15px 0;
        font-size: 14px;
        opacity: 0.5;
        display: none;
    }
    .news-content-page > .content-card > .content > .seperator {
        width: 172px;
        height: 1px;
        opacity: 0.5;
        margin-left: 0px;
        background: radial-gradient(circle at 48% 0, #88500b, #ffdb5c);
    }
    .news-content-page > .content-card > .content > .date {
        position: absolute;
        font-size: 14px;
        opacity: 0.5;
        padding: 11px 0;
        top: 0;
        font-family: 'Crimson Text', serif !important;
    }
    .news-content-page > .content-card > .content > .see-more {
        position: absolute;
        font-size: 18px;
        opacity: 0.5;
        right: 168px;
        /* right: calc(20vw - 150px); */
        margin-top: -30px; 
    }
    .news-content-page > .content-card > .card-seperator {
        position: absolute;
        right: 161px;
        margin-top: 199px;
        width: calc(100vw - 900px);
        height: 1px;
        opacity: 0.5;
        background: radial-gradient(circle at 48% 0, #88500b, #ffdb5c);
    }

    /* change page button */
    .change-page-btn {
        font-size: 20px;
        color: #d9af42;
        line-height: 1.2;
        letter-spacing: 1px;
        margin-top: 40px;
        height: 200px;
    }

    .change-page-btn .news-pagination {
        margin-bottom: 21px;
        color: #9b9b9b;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .change-page-btn .back {
        padding-left: 35px;
        cursor: pointer;
        font-size: 20px;
    }
    .change-page-btn .prev {
        padding-right: 35px;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 111px;
    }
    .change-page-btn .prev-col {
       text-align: right;
       margin-top: 10px;
    }

    .change-page-btn .back.disabled,  .change-page-btn .prev.disabled{
        pointer-events:none;
        opacity: 0.23;
    }
    .bottom-copyright {
        position: static !important;
    }

}

@media (min-width: 768px){
    .news-content-info-wrapper {
        background: #000000;
        position: fixed;
        top: 103px;
        width: calc(100vw - 118px);
        left: 70px;
        overflow: hidden;
        z-index: 5000;
        display: none;
    }
}

@media (max-width: 767px){
    .news-content-info-wrapper {
        background: #000000;
        position: fixed;
        top: 52px;
        width: calc(100vw - 4px);
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5000;
        display: none;
    }
}

